.image-card img {
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
  }
  
  .zoom-effect-container:hover .image-card img {
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
  }

  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
 