:root {
  --primary-color: #2d7d3e;
  --background: #000000;
  --accent: red;
}

body {
  margin: 0;
  text-align: center;
  background-color: var(--background);
}

header {
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 160px;
  padding: 0 20px;
}

.logo {
  width: 30%;
  border-radius: 10px;
  background-color: var(--background);
  padding: 40px 0;
}

.logo:hover {
  background-color: white;
  transition: 0.3s;
}

#navBar {
  position: relative;
}

#navList {
  display: flex;
}

.menu {
  list-style: none;
  display: flex;
}

.menu li {
  margin: 0 15px;
}

.menu a {
  color: white;
  text-decoration: none;
}

.hamburger {
  display: none;
  font-size: 30px;
  cursor: pointer;
}

#homeSection div {
  width: 80%;
  background-color: var(--primary-color);
  border-radius: 20px;
  margin: 50px auto;
  padding: 220px 0;
}

#aboutMe {
  margin-top: 40px;
}

section h1 {
  width: 400px;
  background-color: var(--primary-color);
  margin: 0 auto;
  padding: 20px;
  font-size: xx-large;
}

section h1:hover {
  background-color: var(--accent);
  color: white;
  transition: 0.5s;
}

#aboutMe .aboutimg {
  width: 600px;
  background-color: var(--primary-color);
  border-radius: 20px;
  margin: 50px auto;
  padding: 220px 0;
}

#aboutMe .aboutimg:hover {
  width: 650px;
  transition: 1s;
}

#aboutMe p {
  width: 80%;
  font-size: larger;
  background-color: var(--primary-color);
  border-radius: 20px;
  margin: 50px auto;
  padding: 60px 0;
}

hr {
  width: 80%;
  margin: 50px auto;
}

#portfolio h2 {
  font-size: xxx-large;
  font-weight: lighter;
}

#portfolioWorks {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 50px;
}

.myWorks {
  padding: 20px 0;
}

.myWorks div {
  width: 100%;
  padding: 180px 0;
  border-radius: 20px;
  background-color: var(--primary-color);
  margin: 0 auto;
  transition: transform 0.3s;
}

.myWorks div:hover {
  transform: scale(1.05);
}

.myWorks h3 {
  font-size: x-large;
}

.myWorks h3:hover {
  color: var(--accent);
}

#video {
  margin: 50px 0;
}

.video-player {
  background: black;
  border: 2px solid green;
  width: 100%;
}

#skills {
  margin: 100px;
}

.skill div {
  width: 700px;
  margin-top: 50px;
  padding: 180px 0;
  border-radius: 20px;
  background-color: var(--primary-color);
  margin: 0 auto;
}

#skills h3 {
  font-size: x-large;
}

#skills h3:hover {
  color: var(--accent);
}

.contactUsForm {
  background-color: var(--primary-color);
  padding: 100px;
  width: 900px;
  margin: 0 auto;
  border-radius: 20px;
}

.contactUsForm form {
  background-color: white;
  width: 600px;
  margin: 0 auto;
  padding: 50px;
  font-size: x-large;
  border-radius: 20px;
}

.contactUsForm form:hover {
  border: 5px solid var(--accent);
  transition: 0.4s;
}

footer {
  padding: 100px;
}

footer h3 {
  font-size: x-large;
  margin-bottom: 80px;
}

footer h3:hover {
  color: var(--accent);
}

.socialMedia {
  padding: 40px 0;
  border-radius: 20px;
  background-color: var(--primary-color);
  margin: 0 auto;
}

@media (max-width: 1100px) {
  .logo {
    width: 58%;
    margin: 20px 5%;
  }

  #navBar {
    width: 55%;
    margin: 20px 5%;
    padding: 40px;
  }

  #portfolio h2 {
    font-size: xx-large;
  }

  #portfolioWorks {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }

  .myWorks div {
    width: 100%;
    margin: 30px 10%;
    padding: 20px;
  }

  .hamburger {
    display: block;
  }
}
